.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    bottom: 125%; /* deasupra butonului */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    z-index: 1;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
